{% extends ['layout.html.twig', 'layout.html.twig'] %}

{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Biserica Apostolică Metanoia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Metanoia church" />
	<meta name="keywords" content="Metanoia church" />
	<meta name="author" content="Ruth Fazecas" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">

	<link rel="stylesheet" href="build/app.css">
	<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/style.min.css" rel="stylesheet"></link>
  <link href="https://cdn.jsdelivr.net/npm/icomoon@1.0.0/demo.html" rel="stylesheet"></link>
  
{% endblock %}

{% block content %}
	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container-wrap">
				<div class="top-menu">
					<div class="row">
						<div class="col-md-12 col-offset-0 text-center">
							<div id="fh5co-logo"><a href="index.html">M E T A N O I A</a></div>
						</div>
						<div class="col-md-12 col-md-offset-0 text-center menu-1">
							<ul>
								<li class="active"><a href="index.html">Acasă</a></li>
								<li><a href="#predici">Predici</a></li>
								<li class="has-dropdown">
									
								</li>
								<li><a href="#evenimente">Evenimente</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</nav>
		<div class="container-wrap">
			<aside id="fh5co-hero">
				<div class="flexslider">
					<ul class="slides">
						<li style="background-image: url(images/1.jpg);">
							<div class="overlay container-fluid"></div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-6 col-md-offset-3 text-center">
										<div class="slider-text">
											<div class="slider-text-inner">
												<h2>Biserica fh5cooia există pentru ca oamenii de orice confesiune să vină înaintea lui Dumnezeu</h2>
										
												<p><a class="btn btn-primary btn-demo popup-vimeo"
														href="https://www.youtube.com/watch?v=ojdbc-ge8qs"> <i
															class="icon-play4"></i> Watch Live</a> 
														
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li style="background-image: url(images/2.jpg);">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-6 col-md-offset-3 text-center">
										<div class="slider-text">
											<div class="slider-text-inner">
												<h1>Psalmul 118:29</h1>
												<h2>Lăudați pe Domnul, căci este bun, căci în veac ține îdurarea Lui!</h2> 
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</aside>
			<div id="fh5co-intro">
				<div class="row animate-box">
					<div class="col-md-12 col-md-offset-0 text-center">
						<h2>Duminica 10:00</h2>
						<h2>Miercuri 18:30</h2>
						<span>Vă așteptăm la un timp de închinare împreună cu noi!</span>
					</div>
				</div>
			</div>
		
			<div class="container-wrap" id="predici">
			<div id="fh5co-sermon">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Predici</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="sermon-entry">
							<div class="sermon" style="background-image: url(images/corona.jpg);">
								<div class="play">
									<a class="popup-vimeo" href="https://www.youtube.com/watch?v=ujEI-tWMtg8"><i
											class="icon-play3"></i></a>
								</div>
							</div>
							<h3>Ce spune Biblia despre COVID?</h3>
							<span>Pstr. Cristi Sonea</span>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="sermon-entry">
							<div class="sermon" style="background-image: url(images/peace.jpg);">
								<div class="play">
									<a class="popup-vimeo" href="https://www.youtube.com/watch?v=eLeyRE-UQd0"><i
											class="icon-play3"></i></a>
								</div>
							</div>
							<h3>Vă las pacea Mea</h3>
							<span>Pstr. Vladimir Pustan</span>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="sermon-entry">
							<div class="sermon" style="background-image: url(images/facere.jpg);">
								<div class="play">
									<a class="popup-vimeo" href="https://www.youtube.com/watch?v=MsMsBr-vf-E"><i
											class="icon-play3"></i></a>
								</div>
							</div>
							<h3>Facerea de bine</h3>
							<span>Pastr. Florin Ianovici</span>
						</div>
					</div>
				</div>
			</div>
			<div id="fh5co-bible-verse">
				<div class="overlay"></div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row animate-box">
							<div class="owl-carousel owl-carousel-fullwidth">
								<div class="item">
									<div class="bible-verse-slide active text-center">
										<blockquote>
											<p> Fiindcă atât de mult a iubit Dumnezeu lumea, încât L-a dat pe singurul Lui Fiu, pentru ca oricine crede în El să nu piară, ci să aibă viaţă veşnică.</p>
											<span>Ioan 3:16</span>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="bible-verse-slide active text-center">
										<blockquote>
											<p>Domnul este tăria mea şi scutul meu!
												În El mi se încrede inima, şi sunt ajutat.
											De aceea inima mea chiuie de bucurie
												şi-I aduc mulţumiri prin cântecele mele!</p>
											<span>Psalmul 28:7</span>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="bible-verse-slide active text-center">
										<blockquote>
											<p>Şi noi am cunoscut şi am crezut dragostea pe care o are Dumnezeu în noi.

												Dumnezeu este dragoste, iar cine rămâne în dragoste rămâne în Dumnezeu, şi Dumnezeu rămâne în el.</p>
											<span>1 Ioan 4:16</span>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-wrap" id="evenimente"></div>
			<div id="fh5co-events">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Evenimente</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
							provident. Odit ab aliquam dolor eius.</p>
							<button class="btn hide-posts">Ascunde postari</button>
					</div>
				</div>
				<!-- Div-ul unde afisam postarile -->
				<div class="row evenimente">
				</div>
			</div>
			

		<div class="container-wrap" id="contact">
			<footer id="fh5co-footer" role="contentinfo">
				<div class="col-md-4 text-center">
					<h3>192, Borș</h3>
				</div>
				<div class="col-md-4 text-center">
					<div class="fb-page"
						data-href="https://www.facebook.com/pages/category/Religious-Organization/Biserica-fh5cooia-Bors-213845002707194/"
						data-tabs="timeline" data-width="" data-height="6em" data-small-header="false"
						data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="https://www.facebook.com/pages/category/Religious-Organization/Biserica-fh5cooia-Bors-213845002707194/" class="fb-xfbml-parse-ignore"><a
								href="https://www.facebook.com/pages/category/Religious-Organization/Biserica-fh5cooia-Bors-213845002707194/">Facebook</a></blockquote>
					</div>
				</div>
				<div class="row copyright">
					<div class="col-md-12 text-center">
						
					</div>
				</div>
			</footer>
		</div><!-- END container-wrap -->
	</div>

{% endblock %}

{% block footer %}
<script src="build/app.js"></script>

<script>
	$(document).ready(function () {

		$.get('https://jsonplaceholder.typicode.com/posts')
	
		.then(res => { 
			
			let posts = res.slice(0, 3)
		
			posts.forEach(post => {
				var element = document.createElement('h3');
				element.innerText= post.title;
				element.classList.add('col-md-4')
				element.classList.add('event')
				$(".evenimente").append(element);
			});
		})
		
		.fail((e) => {
			console.log(e)
		})
	});
</script>
<!-- jquery ascundem postarile -->
<script>
	$(document).ready(function () {
		$('button.hide-posts').click(() => {
			$('h3.event').hide()
		})
	});
</script>


<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0"
    nonce="urcfBJB8"></script>
{% endblock %}